SQLAlchemy==1.3.15
mysqlclient==1.4.6
dateutils==0.6.7
coreapi==2.3.3
PyMySQL==1.1.1
inflection==0.3.1
hal_codec~=1.0.2
git+https://github.com/Ensembl/ensembl-hive@main
git+https://github.com/Ensembl/ols-client@main