[DEFAULT]
DB_TEST_URL = mysql+pymysql://root@localhost:3306/test_ols_ontology?charset=utf8&autocommit=true
OLS_API_URL = https://www.ebi.ac.uk/ols/api

[ols-docker]
DB_TEST_URL = mysql+pymysql://root@localhost:3306/test_ols_ontology?charset=utf8&autocommit=true
OLS_API_URL = http://localhost:8080/api
